.div_buttons{
    display: flex;
    height: 38px;
    width: 200px;
    justify-content: space-between;
}

.application_name{
    font-weight: bold;
}

.application_info{
    display: flex;
    justify-content: space-between;
}

.photo_name_application{
    width:45%;
}

.application_one{
    display: flex;
    justify-content: space-between;
}

.application_content{
    width: 45%;
}

.application_card{
    margin-top: 40px;
    padding: 20px 15px;
    border: #1E90FF 1px solid;
    border-radius: 15px;
        background-color: #E0FFFF;
}

.photo_file{
    max-width:100%
}

.filter{
    margin:40px 0px
}

.col-form-label{
    font-weight:bold;
    font-size: large;
}