{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %} Добавить заявку {% endblock %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Добавление Категории</legend>
            {% bootstrap_form form layout='horizontal' %}
        </fieldset>
        <div class="div_buttons">
            {% buttons submit='Добавить' %} {% endbuttons %}
            <a class="btn btn-outline-secondary" href="{% url 'main:category' %}">Отмена</a>
        </div>
    </form>
</div>
{% endblock content %}